.heading-rule {
margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid #121212;
}

.card {
    margin-top: 25px;
    width: 80%;
    margin-left: 15%;
}
label {
    color:black;
    margin-bottom: 8px;
    font-weight: 700;
    display: block;
}

#print-info {
      display: none;
    }

#info-not-req, #locale-info-not-req {
  display: none;
  margin-bottom: 10px
}

form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.rate-container {
    border: 1px solid grey;
    border-radius: 10px;
    width: 65%;

    padding: 15px 4px 0 4px;
    background-color: #e0e0e0;
    margin-bottom: 4px;
    position: relative;
    justify-self: center;
}

.rate-remove, .deduction-remove {
    position: absolute;
    right: 6px;
    top: 4px;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #ccc;
}
.btn-add-rate {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.boolean-label {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 4px;
    margin-left: 10px;
}
.text-end {
    text-align: right !important;
}
.boolean-list-container {
    align-items: center;
}
.boolean-list {
    min-width: 80px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #f9f9f9;
}
.btn {
    margin-top: 0px;
    margin-bottom: 10px;
    display: block;
    border: 1cm solid black;
}
 .div-add-rate {
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.deduction-block {
    border: 1px solid grey;
    border-radius: 10px;
    width: 65%;
    padding: 15px 4px 0 4px;
    background-color: #e0e0e0;
    margin-bottom: 4px;
    position: relative;
    justify-self: center;
}
.result-container {
   border: 1px solid grey;
   border-radius: 10px;
                    width: 70%;
                    padding: 15px 4px 0 4px;
                    background-color: #e0e0e0;
                    margin-bottom: 4px;
                    position: relative;
                    justify-self: center;
}

.hide-newyork {
  display:none;
}

