<!--<?xml version="1.0" encoding="UTF-8"?>-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!-- Index -->
	<description>BZComposer The Accounting Package</description>


	<!--  to fix the issue on config   https://stackoverflow.com/questions/5484253/jspservice-is-exceeding-the-65535-bytes-limit -->
	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>mappedfile</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.avibha.common.filter.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>avoid-urls</param-name>
			<param-value>/jsp/index.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>

	<env-entry>
		<env-entry-name>poolsize</env-entry-name>
		<env-entry-value>5</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>DatabaseType</env-entry-name>
		<env-entry-value>MYSQL</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>MAILHOST</env-entry-name>
		<env-entry-value>localhost</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>mailProtocol</env-entry-name>
		<env-entry-value>smtp</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>MailUsername</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>MailPassword</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>MailFrom</env-entry-name>
		<env-entry-value>support@bizComposer.com</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>DebugLevel</env-entry-name>
		<env-entry-value>true</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>Info</env-entry-name>
		<env-entry-value>true</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>Level3</env-entry-name>
		<env-entry-value>false</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!-- 	<context-param>
            <param-name>host</param-name>
            <param-value>smtp.gmail.com</param-value>
        </context-param>
        <context-param>
            <param-name>port</param-name>
            <param-value>25</param-value>
        </context-param>
        <context-param>
            <param-name>port</param-name>
            <param-value>587</param-value>
        </context-param>
        <context-param>
            <param-name>user</param-name>
            <param-value></param-value>
        </context-param>

        <context-param>
            <param-name>pass</param-name>
            <param-value>YOUR_PASS</param-value>
        </context-param> -->
	<!--	<jsp-config>-->
	<!--		<taglib>-->
	<!--			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>-->
	<!--			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>-->
	<!--		</taglib>-->
	<!--		<taglib>-->
	<!--			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>-->
	<!--			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>-->
	<!--		</taglib>-->
	<!--		<taglib>-->
	<!--			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>-->
	<!--			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>-->
	<!--		</taglib>-->
	<!--		&lt;!&ndash; This taglib added on 08-10-2019 &ndash;&gt;-->
	<!--		<taglib>-->
	<!--			<taglib-uri>/WEB-INF/struts-tags.tld</taglib-uri>-->
	<!--			<taglib-location>/WEB-INF/struts-tags.tld</taglib-location>-->
	<!--		</taglib>-->
	<!--	</jsp-config>-->
</web-app>