<!-- fragments/header.html -->
<div th:fragment="header">
    <div class="app__header__area">
        <div class="app__header-inner">
            <!-- Left section: Sidebar toggle and welcome -->
            <div class="app__header-left">
                <a id="sidebar__active" class="app__header-toggle" href="javascript:void(0)">
                    <div class="bar-icon-2">
                        <span></span><span></span><span></span>
                    </div>
                </a>
                <h2 class="header__title">Hello Jason</h2>
            </div>

            <!-- Right section: Search, language, notifications, user profile -->
            <div class="app__header-right">
                <!-- Search -->
                <div class="app__herader-input p-relative">
                    <input type="search" id="search-field" name="search-field" placeholder="Search Here . . .">
                    <button><i class="icon-magnifying-glass"></i></button>
                </div>

                <!-- Action icons -->
                <div class="app__header-action">
                    <ul>
                        <!-- Language -->
                        <li>
                            <div class="nav-item p-relative">
                                <a id="langdropdown" class="langdropdown" href="javascript:void(0)">
                                    <span class="language-text">English</span>
                                </a>
                            </div>
                        </li>

                        <!-- Fullscreen -->
                        <li>
                            <a href="javascript:void(0);" onClick="javascript:toggleFullScreen()">
                                <div class="nav-item">
                                    <div class="notification__icon">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- Email notifications -->
                        <li>
                            <div class="nav-item p-relative">
                                <a id="emaildropdown" href="#">
                                    <div class="notification__icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                </a>
                                <div class="email__dropdown">
                                    <div class="notification__card card__scroll">
                                        <div class="notification__header">
                                            <div class="notification__inner">
                                                <h5>Email Notifications</h5>
                                                <span>(2)</span>
                                            </div>
                                        </div>
                                        <div class="notification__item">
                                            <div class="notification__thumb"><i class="icon-bell"></i></div>
                                            <div class="notification__content">
                                                <p><a href="#">New message from Sales team.</a></p>
                                                <div class="notification__time">
                                                    <span>1h ago</span><span class="status">Info</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification__item">
                                            <div class="notification__thumb"><i class="icon-envelope"></i></div>
                                            <div class="notification__content">
                                                <p><a href="#">Client follow-up needed.</a></p>
                                                <div class="notification__time">
                                                    <span>3h ago</span><span class="status">Client</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- General notifications -->
                        <li>
                            <div class="nav-item p-relative">
                                <a id="notifydropdown" href="#">
                                    <div class="notification__icon">
                                        <i class="icon-bell"></i>
                                    </div>
                                </a>
                                <div class="notification__dropdown item-two">
                                    <div class="notification__card card__scroll">
                                        <div class="notification__header">
                                            <div class="notification__inner">
                                                <h5>Notifications</h5>
                                                <span>(3)</span>
                                            </div>
                                        </div>
                                        <div class="notification__item">
                                            <div class="notification__thumb"><i class="icon-info-circle"></i></div>
                                            <div class="notification__content">
                                                <p><a href="#">System update scheduled.</a></p>
                                                <div class="notification__time">
                                                    <span>4h ago</span><span class="status">System</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification__item">
                                            <div class="notification__thumb"><i class="icon-user-plus"></i></div>
                                            <div class="notification__content">
                                                <p><a href="#">New user registered.</a></p>
                                                <div class="notification__time">
                                                    <span>5h ago</span><span class="status">User</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- User profile -->
                        <li>
                            <div class="nav-item p-relative">
                                <a id="userportfolio" href="#">
                                    <div class="user__portfolio">
                                        <div class="user__portfolio-thumb">
                                            <img th:src="@{/assets/images/avatar/avatar.png}" alt="avatar">
                                        </div>
                                        <div class="user__content">
                                            <h5>Jason Lee</h5>
                                            <span>online</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="user__dropdown">
                                    <ul>
                                        <li><a th:href="@{/profile}"><i class="icon-user"></i> Profile</a></li>
                                        <li><a th:href="@{/message}"><i class="icon-mail"></i> Message</a></li>
                                        <li>
                                            <form th:action="@{/perform-logout}" method="post">
                                                <button type="submit" style="background: none; border: none; color: inherit; display: flex; align-items: center;">
                                                    <i class="icon-logout"></i> Log Out
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
