<!-- fragments/sidebar.html -->
<div th:fragment="sidebar">
    <div class="app-sidebar" id="sidebar">
        <div class="main-sidebar-header">
            <a th:href="@{/admin_dashboard}" class="header-logo">
                <img
                        class="main-logo"
                        th:src="@{/assets/images/logo/bzcpayrolladmin.png}"
                        alt="logo"
                />
                <img
                        class="dark-logo"
                        th:src="@{/assets/images/logo/bzcpayrolladmin.png}"
                        alt="logo"
                />
            </a>
        </div>
        <div class="main-sidebar" id="sidebar-scroll">
            <nav class="main-menu-container nav nav-pills flex-column sub-open">
                <div class="sidebar-left" id="sidebar-left"></div>
                <ul class="main-menu">
                    <li class="sidebar__menu-category">
                        <span class="category-name">Main</span>
                    </li>
                    <li class="slide">
                        <a th:href="@{/admin_dashboard}" class="sidebar__menu-item">
                            <div class="side-menu__icon"><i class="icon-house"></i></div>
                            <span class="sidebar__menu-label">Dashboards</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/admin_products}" class="sidebar__menu-item">
                        <div class="side-menu__icon"><i class="icon-hrm"></i></div>
                        <span class="sidebar__menu-label">Products</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/users}" class="sidebar__menu-item">
                        <div class="side-menu__icon">
                            <i class="icon-circle-user"></i>
                        </div>
                        <span class="sidebar__menu-label">Users</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/customers}" class="sidebar__menu-item">
                        <div class="side-menu__icon">
                            <i class="icon-screen-users"></i>
                        </div>
                        <span class="sidebar__menu-label">Customers</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/email-templates}" class="sidebar__menu-item">
                        <div class="side-menu__icon"><i class="icon-envelopes"></i></div>
                        <span class="sidebar__menu-label">eMail Template</span>
                        </a>
                    </li>
                    <li class="slide">
                            <a th:href="@{/email-template-category}" class="sidebar__menu-item">
                            <div class="side-menu__icon"><i class="icon-envelopes"></i></div>
                            <span class="sidebar__menu-label">Template Category</span>
                            </a>
                        </li>
                    <li class="slide">
                        <a th:href="@{/federal_tax}" class="sidebar__menu-item">
                            <div class="side-menu__icon"><i class="icon-office"></i></div>
                            <span class="sidebar__menu-label">Federal Tax</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/state_tax}" class="sidebar__menu-item">
                            <div class="side-menu__icon"><i class="icon-office"></i></div>
                            <span class="sidebar__menu-label">State Tax</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/blogs}" class="sidebar__menu-item">
                            <div class="side-menu__icon"><i class="icon-pencil"></i></div>
                            <span class="sidebar__menu-label">Blogs</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/help}" class="sidebar__menu-item">
                        <div class="side-menu__icon"><i class="icon-headset"></i></div>
                        <span class="sidebar__menu-label">Help</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a th:href="@{/faq}" class="sidebar__menu-item">
                        <div class="side-menu__icon"><i class="icon-headset"></i></div>
                        <span class="sidebar__menu-label">FAQ</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a href="javascript:void(0);" class="sidebar__menu-item">
                        <div class="side-menu__icon"><i class="icon-chart-line"></i></div>
                        <span class="sidebar__menu-label">Reports</span>
                        </a>
                    </li>
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="sidebar__menu-item">
                        <i class="fa-regular fa-angle-down side-menu__angle"></i>
                        <div class="side-menu__icon">
                            <i class="icon-folder-gear"></i>
                        </div>
                        <span class="sidebar__menu-label">Settings</span>
                        </a>
                        <ul class="sidebar-menu child1">
                        <li class="slide">
                            <a class="sidebar__menu-item" th:href="@{/membership}"
                            >Membership Plan and Fees</a
                            >
                        </li>
                        <li class="slide">
                        
                            <a class="sidebar__menu-item" th:href="@{/payment_gateway}">Payment Gateway</a>


                        </li>

                        </ul>
                    </li>


                    <li class="slide">
                        <a th:href="@{/menu-controller}" class="sidebar__menu-item">
                        <div class="side-menu__icon"><i class="icon-menu2"></i></div>
                        <span class="sidebar__menu-label">Menu Controller</span>
                        </a>
                    </li>

                </ul>
                <div class="sidebar-right" id="sidebar-right"></div>
            </nav>
        </div>
    </div>
    <div class="app__offcanvas-overlay"></div>
</div>
